/* Reset */
* { margin: 0; padding: 0; font-size: 100%;
  box-sizing: border-box; font-family: 
  'Opens Sans', sans-serif;}
nav, ul { list-style: none;}
a{text-decoration: none; cursor: pointer;
  opacity: 0.9;}
  a:hover { opacity: 1;}
  /* HEADER */
header { width: 100%;
position: absolute; top: 0; left: 0;
display: flex; justify-content: space-between;
align-items: center; padding: 20px 50px; background-color: #fff;}
header img{ width: 150px;}

header nav { display: flex;}
header li a {color: #191c03;}
header li {margin: 0 15px;}
header li:first-child{ margin-left: 0;}
header li:last-child{ margin-right: 0;}
@media (max-width: 700px) {
  header {flex-direction: column;}
  header img {margin-bottom: 15px;}
}

.hero {background-image: url(../img/img_fundo-01.jpg);
  object-fit: cover;
background-size: cover; min-height: 120vh;
color:#fff; display: flex; justify-content: center;
align-items: center; flex-direction: column;
text-align: center;}

.hero h1{ font-size: 5.2rem; margin-bottom: 15px;}
.hero h3{font-size: 22px; margin-bottom: 15px;}
.hero .btn {background-color: #fff; border-radius: 4px;
color: #191c03; padding: 20px 50px; text-transform: uppercase;}

@media (max-width: 700px){
  .hero h1 {font-size: 2.5rem;}
  .hero h3 {font-size: 1.5rem;}
}


/* formulario */
.formu{
  background-color: rgb(0, 94, 42);
  color: #fff;
  /* Centralizar o formulário na pagina */
  margin: 200px;
  width: auto;
  height: auto;
  
  /* Ver o esboço do formulário */
  padding: 1em;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  /* Para garantir que todos os rótulos tenham o mesmo tamanho e estejam devidamente alinhados*/
  display: inline-block;
  width: 90px;
  text-align: left;
}

input, textarea {
  /* 
Para garantir que todos os campos de texto tenham as mesmas configurações de fonte
Por padrão, as áreas de texto possuem a mesma fonte */
  font: 1em sans-serif;

  /* Para dar o mesmo tamanho a todos os campos de texto*/
  width: 300px;
  box-sizing: border-box;


  /* Para harmonizar o aspecto e a sensação da borda do campo de texto */
  border: 1px solid #999;
}

textarea {
  /* Para alinhar corretamente campos de texto multilinha com seus rótulos */
  vertical-align:top;

  /* Para dar espaço suficiente para digitar algum texto */
  height: 5em;
}

.nome-completo{
  padding-top: 50px;
}

.botao input{
  width: 100px;
  box-sizing:content-box;
  text-align: justify;
  text-align: center;
}

button {
  color: rgb(37, 37, 37);
  background-color:rgb(255, 255, 255);
  border-color: white;
/* Esta margem extra representa aproximadamente o mesmo espaço que o espaço
entre os rótulos e seus campos de texto*/
  width: 200px;
  height: 30px;
}

/*CONTATO*/
.contato-form {
  background-color: rgb(0, 94, 42);
  color: #fff;
  /* Centralizar o formulário na pagina */
  margin: 200px;
  width: auto;
  height: auto;
  /* Ver o esboço do formulário */
  padding: 1em;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  /* Para garantir que todos os rótulos tenham o mesmo tamanho e estejam devidamente alinhados*/
  display: inline-block;
  width: 90px;
  text-align: left;
}

input, textarea {
  /* 
Para garantir que todos os campos de texto tenham as mesmas configurações de fonte
Por padrão, as áreas de texto possuem a mesma fonte */
  font: 1em sans-serif;
  /* Para dar o mesmo tamanho a todos os campos de texto*/
  width: 300px;
  box-sizing: border-box;
  /* Para harmonizar o aspecto e a sensação da borda do campo de texto */
  border: 1px solid #999;
}

textarea {
  /* Para alinhar corretamente campos de texto multilinha com seus rótulos */
  vertical-align:top;
  /* Para dar espaço suficiente para digitar algum texto */
  height: 5em;
}

.nome-completo{
  padding-top: 50px;
}

.botao input{
  width: 100px;
  box-sizing:content-box;
  text-align: justify;
  text-align: center;
}

button {
  color: rgb(37, 37, 37);
  background-color:rgb(255, 255, 255);
  border-color: white;
/* Esta margem extra representa aproximadamente o mesmo espaço que o espaço
entre os rótulos e seus campos de texto*/
  width: 200px;
  height: 30px;
}